* { margin:0; padding:0; }   
#main {
	background-color: #52527A;
	height: 100vh;
	width:100%;
}
#main p {
	font-family:'Josefin Slab';
	color: white;
}

#main h1 {
	font-family:'Josefin Slab';
	color: white;
}
#cont {
	display: block;
}
#logo {
	height: 10%;
	width: 20%;
	border-color: #FFFFFF;
	border-style:solid;
	border-width:2px;
	border-radius:4px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding: 1%;
}
#line div {
	display:inline-block;
}
#left {
	margin:4%;
	
}
#left div {
	display:block;
}
#right {
	float:right;
	margin:4%;
}
#right div {
	display: block;
}
#about {
	display:block;
}
#img {
	margin-left:auto;
	text-align:center;
	margin-right:auto;
}
#about:hover {
}
#wrap {
	padding:2%;
}
#pic {
	margin-left:auto;
	margin-right:auto;
	margin: 2%;
}	
#png {
	margin-left:auto;
	margin-right:auto;
}