{% load staticfiles %}
<!DOCTYPE html>
<head>
<title>.bside</title>
<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static "css/sidestyle.css" %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
<div id = "main">
	<div id = "cont">
		<div id = "wrap">
			<div id = "logo">
				<h1>.bside</h1>
				<p>unite skaters</p>
			</div>
			<div id = "img">
				<div id = "png">
					<img src = "{% static  'bside.png' %}" id = "pic">
				</div>
			</div>
		</div>	
	</div>
	<div id = "center">
		<div id = "line">
			<div id = "left">
				<div id = "link" class = "red"> 
					<a href = "{% url 'main:start' %}">
						<p>Start Session</p>
					</a>	
				</div>
				
				<div id = "link" class = "yellow">
					<a href = "{% url 'main:end' %}">
						<p>End Session</p>
					</a>
				</div>
			</div>
		</div>
	</div>	
	<div id = "line">
		<div id = "right">
			<div id = "link" class = "green">
				<a href = "{% url 'main:find' %}"
					<p>Find Sessions</p>
				</a>
			</div>
			
			<div id = "link" class = "blue">
				<a href = "{% url 'main:about' %}">
					<p>About</p>
				</a>
			</div>
		</div>
	</div>
</div>
<!--
<div id = "open">
	<p>.bside will hopefully be a project that allows <br> skaters to find each other in the city they are in! </p>
</div>

<script>
	$(document).ready(function() {
			$('#open').hide();
			$('#about').click(function() {
				$('#open').show();
				//$('#reveal').scrollTop($('#reveal')[0].scrollHeight, 'slow');
				$('body').animate({
						scrollTop: $('#open')[0].scrollHeight
					}, 500);
			});
		});
</script>-->
</body>