{% load staticfiles %}
<!DOCTYPE html>
<head>
<title>.bside</title>
<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static "css/sidestyle.css" %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
	$(document).ready(function() {
		//red
		$('.red').mouseover(function() {
			//$('.red').css('padding-top', '1%');
			//$('.yellow').css('padding-top', '4%');
			//$('.yellow').css('padding-bottom', '4%');
			//$('.blue').css('margin-top', '0%');
			//$('.yellow').css('margin-left', '45%');
			//$('.green').css('margin-top', '0%');
		});
		$('.red').mouseout(function() {
			//$('.red').css('width', '50%');
			//$('.red').css('padding-top', '3%');
			//$('.red').css('padding-bottom', '3%');
			//$('.blue').css('margin-top', '2%');
			//$('.yellow').css('width', '50%');
			//$('.green').css('margin-top', '2%');
		});
		/*//blue
		$('.blue').mouseover(function() {
			$('.blue').css('width', '60%');
			$('.blue').css('padding-top', '3%');
			$('.blue').css('padding-bottom', '3%');
			$('.red').css('padding-bottom', '1%');
			$('.green').css('width', '40%');
			$('.yellow').css('padding-bottom', '1%');
		});
		$('.blue').mouseout(function() {
			$('.blue').css('width', '50%');
			$('.blue').css('padding-top', '2%');
			$('.blue').css('padding-bottom', '2%');
			$('.red').css('padding-bottom', '2%');
			$('.green').css('width', '50%');
			$('.yellow').css('padding-bottom', '2%');
		});		
		//green
		$('.green').mouseover(function() {
			$('.green').css('width', '60%');
			$('.green').css('padding-top', '3%');
			//$('.green').css('padding-bottom', '3%');
			$('.yellow').css('padding-bottom', '0%');
			$('.blue').css('width', '40%');

			$('.red').css('padding-bottom', '0%');
		});
		$('.green').mouseout(function() {
			$('.green').css('width', '50%');
			$('.green').css('padding-top', '2%');
			$('.green').css('padding-bottom', '2%');
			$('.yellow').css('padding-bottom', '2%');
			$('.blue').css('width', '50%');
			$('.red').css('padding-bottom', '2%');
		});
		//yellow
		$('.yellow').mouseover(function() {
			$('.yellow').css('width', '60%');
			$('.yellow').css('padding-top', '3%');
			$('.yellow').css('padding-bottom', '3%');
			$('.blue').css('padding-top', '1%');
			$('.red').css('width', '40%');
			$('.green').css('padding-top', '1%');
		});
		$('.yellow').mouseout(function() {
			$('.yellow').css('width', '50%');
			$('.yellow').css('padding-top', '2%');
			$('.yellow').css('padding-bottom', '2%');
			$('.blue').css('padding-top', '2%');
			$('.red').css('width', '50%');
			$('.green').css('padding-top', '2%');
		});*/
	});
</script>

</head>
<body>
<div id = "main">
	<div id = "cont">
		<div id = "wrap">
			<div id = "logo">
				<h1>.bside</h1>
				<p>unite skaters</p>
			</div>
			<div id = "img">
				<div id = "png">
					<img src = "{% static  'bside.png' %}" id = "pic">
				</div>
			</div>
		</div>	
	</div>
	<div id = "center">
		<div id = "line">
			<div id = "left">
				<a href = "{% url 'main:start' %}">				
					<div id = "link" class = "red"> 
						<div id = "inside">
							<p>Start Session</p>
						</div>		
					</div>
				</a>

				<a href = "{% url 'main:end' %}">
					<div id = "link" class = "yellow">
						<div id = "inside">
							<p>End Session</p>
						</div>
					</div>
				</a>	

			</div>
		</div>
	</div>	
	<div id = "center">
		<div id = "line">
			<div id = "right">
				<a href = "{% url 'main:find' %}">
					<div id = "link" class = "green">
						<div id = "inside">							
							<p>Find Sessions</p>
						</div>
					</div>
				</a>

				<a href = "{% url 'main:about' %}">
					<div id = "link" class = "blue">
						<div id = "inside">							
							<p>About</p>							
						</div>
					</div>
				</a>
					
			</div>
		</div>
	</div>	
</div>
<!--
<div id = "open">
	<p>.bside will hopefully be a project that allows <br> skaters to find each other in the city they are in! </p>
</div>

<script>
	$(document).ready(function() {
			$('#open').hide();
			$('#about').click(function() {
				$('#open').show();
				//$('#reveal').scrollTop($('#reveal')[0].scrollHeight, 'slow');
				$('body').animate({
						scrollTop: $('#open')[0].scrollHeight
					}, 500);
			});
		});
</script>-->
</body>