
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="findendstyle.css">


<div id = "logo">
	<a href = "{% url 'main:index' %}">
		.bside
	</a>
</div>	
{% if spotlist %}
<div id = "list">
	{% for spot in spotlist %}
		<div id = "spot">
			<h1 id = "spotname">
				{{ spot.name }}
			</h1>

			<p id = "spotdesc">
				{{ spot.description }}
			</p>

			<p id = "timeleft">
				{{ spot.timeleft|floatformat:"-2" }}
				hours left
			</p>
		</div>

		<div id = "del">	
			<form method = "POST" action = "{% url 'main:delete' spot.id %}" id = "delete">
				{% csrf_token %}
				<input type = "submit" value = "end sesh">
			</form>	
		</div>
	{% endfor %}	
</div>	
<div id = "mapsection">
	<style type="text/css">
	      html, body, #map-canvas { height: 100%;}
	    </style>
	    <script type="text/javascript"
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmu-0gJXE0CMNQRYnXeLCM_oN2_WXSR7E">
	    </script>
	    <script type="text/javascript">
	    	/*function addMarkers(map) {
	    		{% for spot in spotlist%}
	    			var point = new google.maps.LatLng(spot.lat, spot.lon);
	    			var marker = new google.maps.Marker({
	    				position: point
	    				map:map
	    			});
	    		{% endfor %}
	    	}*/
			function setPost(position) {
				initialize(position.coords.latitude, position.coords.longitude);
			}

	        function initialize(lat, lon) {
	        var mapOptions = {
	          center: new google.maps.LatLng(lat, lon),
	          zoom: 11
	        };
	        var map = new google.maps.Map(document.getElementById('map-canvas'),
	            mapOptions);
	        {% for spot in spotlist %}
		        var point = new google.maps.LatLng({{spot.lat}}, {{spot.lon}});
		        var marker = new google.maps.Marker({
		        	position: point,
		        	map:map
		        });
		        //var tag = {% csrf_token %};

		        marker['infowindow'] = new google.maps.InfoWindow({
		        		content: '<h3>{{ spot.name }} </h3>'+
	        		'<p>{{ spot.description }}</p>'+
	        		'<p>{{ spot.timeleft|floatformat:"-2" }} hours left</p>'+
	        		'<form method = "POST" action = "{% url "main:delete" spot.id %}" id = "delete">' +
	        		'<input type="hidden" name="csrfmiddlewaretoken" value="viF0WoY6EGG69eJe3zmRaakoiKY4i14A">' +
					'<input type = "submit" value = "end sesh">' +
					'</form>'
		        	});
		        google.maps.event.addListener(marker, 'click', function() {
		        	this['infowindow'].open(map, this);
		        });
		    {% endfor %}
	        //addMarkers(map);
	      }
		   	function getLocation() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(setPost);

				}
				else {
					$("#nope").html("GEOLOCATION NOT AVAILABLE IN THIS BROWSER");
					$("#nope").show()
				}
			}


	      //google.maps.event.addDomListener(window, 'load', initialize);
	      $(document).ready(function() {
	      	getLocation();
	      	//initialize();
	      });
	    </script>
	<div id="map-canvas"></div>
</div>


{% else %}
There are no spots?
{% endif %}
