{% block list %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript">
	function findTime() {

	}
</script>
<div id = "home">
	<a href = "{% url 'main:index' %}">
		.bside
	</a>
</div>	
{% if spotlist %}

	{% for spot in spotlist %}
		<div id = "spot">
			<p id = "spotname">
				{{ spot.name }}
			</p>

			<p id = "spotdesc">
				{{ spot.description }}
			</p>

			<p id = "timeleft">
				{{ spot.timeleft }}
				<!---->
			</p>
		</div>	
	{% endfor %}	
{% else %}
There are no spots?
{% endif %}
{% endblock %}