{% load staticfiles %}

{% block list %}
<link rel="stylesheet" type="text/css" href="{% static "css/findendstyl.css" %}">
<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&v=3&libraries=geometry">
//calculate some distances

</script>
<script>
	$(document).ready(function() {
		$('#list').hide();
		$('#mapbtn').addClass('hlt');
		
		$('#mapbtn').click(function() {
			if($('#mapbtn').hasClass('proc')) {
				return;
			}
			$('#listbtn').addClass('proc');
			$('#list').fadeOut(100);
			$('#mapsection').fadeIn(2000);
			if($('#mapbtn').hasClass('hlt')) {
				$('#mapbtn').addClass('hlt');
			}
			$('#listbtn').removeClass('hlt');
			$('#listbtn').removeClass('proc');
		});
		
		$('#listbtn').click(function() {
			if($('#listbtn').hasClass('proc')) {
				return;
			}
			$('#mapbtn').addClass('proc');
			$('#mapsection').fadeOut(10);
			$('#list').fadeIn(2200);
			if($('#listbtn').hasClass('hlt')) {
				$('#listbtn').addClass('hlt');
			}
			$('#mapbtn').removeClass('hlt');
			$('#mapbtn').removeClass('proc');
		});
	});
</script>

<div id = "logo">
	<a href = "{% url 'main:index' %}">
		<div>
			.bside
		</div>	
	</a>
</div>	
{% if spotlist %}
<div id = "inline">
	<div id = "listbtn">
		list
	</div>

	<div id = "mapbtn">
		map
	</div>
</div>


<div id = "list">	
	{% for spot in spotlist %}
		
	<a href = "https://www.google.com/maps/dir/My+Location/{{ spot.lat }},{{ spot.lon }}" target = "_blank">
		<div id = "spot">
			<h1 id = "spotname">
				{{ spot.name }}
			</h1>

			<p id = "spotdesc">
				{{ spot.description }}
			</p>

			<p id = "timeleft">
				{% if spot.timeleft > 0 %}
					{{ spot.timeleft|floatformat:"-2" }}
					hours left
				{% else %}
					session's over, come back next time
				{% endif %}				
			</p>

			<p id = "distance">
			</p>	
		</div>
	</a>		
	{% endfor %}
</div>

<div id = "mapsection">
		{% block map %}
	    <style type="text/css">
	      html, body, #map-canvas { height: 100%;}
	    </style>
	    <script type="text/javascript"
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmu-0gJXE0CMNQRYnXeLCM_oN2_WXSR7E">
	    </script>
	    <script type="text/javascript">
			function setPost(position) {
				initialize(position.coords.latitude, position.coords.longitude);
			}

	        function initialize(lat, lon) {
	        var mapOptions = {
	          center: new google.maps.LatLng(lat, lon),
	          zoom: 11
	        };
	        var map = new google.maps.Map(document.getElementById('map-canvas'),
	            mapOptions);
	        {% for spot in spotlist %}
	        	contentString = 'hey';
	        	var infowindow = new google.maps.InfoWindow({
	        		content: contentString
	        	});
		        var point = new google.maps.LatLng({{spot.lat}}, {{spot.lon}});
		        var marker = new google.maps.Marker({
		        	position: point,
		        	map:map
		        });
		        marker['infowindow'] = new google.maps.InfoWindow({
		        		content: '<h3>{{ spot.name }} </h3>'+
	        		'<p>{{ spot.description }}</p>'+
	        		'<p>{{ spot.timeleft|floatformat:"-2" }} hours left</p>'
		        	});
		        google.maps.event.addListener(marker, 'click', function() {
		        	this['infowindow'].open(map, this);
		        });
		    {% endfor %}
	        //addMarkers(map);
	      }
		   	function getLocation() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(setPost);

				}
				else {
					$("#nope").html("GEOLOCATION NOT AVAILABLE IN THIS BROWSER");
					$("#nope").show()
				}
			}


	      //google.maps.event.addDomListener(window, 'load', initialize);
	      $(document).ready(function() {
	      	getLocation();
	      	//initialize();
	      });
	    </script>
	<div id="map-canvas"></div>
</div>
{% endblock %}

{% else %}
There are no spots?
{% endif %}
{% endblock %}