{% load staticfiles %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/startstyle.css" %}">
<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>


<script>
	var lat = 0;
	var lon = 0;
	function getLocation() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(setPosition, showError, {timeout:10000});
		}
		else {
			$("#nope").html("GEOLOCATION NOT AVAILABLE IN THIS BROWSER");
			$("#nope").show()
		}
	}
	function setPosition(position) {
		document.getElementById('latitude').value = position.coords.latitude;
		document.getElementById('longitude').value = position.coords.longitude;
	}

	function showError(error) {
	    switch(error.code) {
	        case error.PERMISSION_DENIED:
	            $("#nope").html("User denied the request for Geolocation.")
	            break;
	        case error.POSITION_UNAVAILABLE:
	            $("#nope").html("Location information is unavailable.")
	            break;
	        case error.TIMEOUT:
	            $("#nope").html("The request to get user location timed out.")
	            break;
	        case error.UNKNOWN_ERROR:
	            $("#nope").html("An unknown error occurred.")
	            break;

    	}
    	$("#nope").show()
    }
	$(document).ready(function() {
		$("#nope").hide();
		$("#latitude").hide();
		$('#longitude').hide();
		getLocation();
	});
	window.onload = getLocation;
	
</script>

<div>
	<a href = "{% url 'main:index' %}">
		<div id = "logo">
				.bside
		</div>	
	</a>
</div>

<div id = "nope">
</div>
<div id = "work">
</div>	
<div id = "center">
	<form action = "{% url 'main:startsesh' %}" id = "deets" method = "POST">
		{% csrf_token %}
		<div id ="space">
			<input type = "text" name = "name" id = "name" class = "field" placeholder = "name the sesh">
		</div>	
		
		<div id = "space">
			<textarea name = "description" id = "description" class = "field" placeholder = "what's happening at the sesh?"></textarea>
		</div>
		
		<div id = "lab">
			<label>
				How many hours will you be skating here?
				<br>
				Enter a number
			</label>
		</div>	
		
		<div id = "space">
			<input type = "text" name = "time" id = "time" class = "field">
		</div>
		
		<div id = "space">
			<input type = "text" name = "lat" id = "latitude">
		</div>	
		
		<div id = "space">
			<input type = "text" name = "lon" id = "longitude">
		</div>
		
		<div id = "space">
			<input type = "submit" value = "start" id = "start">
		</div>
	</form>
</div>