* { margin:0; padding:0; }   
#main {
	background-color: #52527A;
	height:100vh;
	width:100%;
}
#main p {
	font-family:'Josefin Slab';
	color: white;
}

#main h1 {
	font-family:'Josefin Slab';
	color: white;

	display:inline-block;
}
#cont {
	display: block;
}
#logo {
	height: 10%;
	width: 20%;
	border-color: #FFFFFF;
	border-style:solid;
	border-width:2px;
	border-radius:4px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding: 1%;
}

#center {
	margin-left:auto;
	margin-right:auto;
}
#about {
	display:block;
}
#img {
	margin-left:auto;
	text-align:center;
	margin-right:auto;
}
#wrap {
	padding-top:2%;
}
#pic {
	margin-left:auto;
	margin-right:auto;
	margin: 2%;
}	
#png {
	margin-left:auto;
	margin-right:auto;
}
#about:hover {
}
#line {
}
#line div {
	display:inline-block;
}
#left {
	width:100%;
}
#right {
	width:100%;
}
#link {
	font-size: 1.3em;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align:center;
	width:50%;
}

#center {
	margin-left:auto;
	margin-right:auto;
}
.red {
	background-color:rgb(194, 102, 102);
}
.yellow {
	background-color:rgb(255, 148, 77);
	float:right;
}
.blue {
	background-color:rgb(112, 112, 184);
	float:right;
}
.green {
	background-color:rgb(112, 184, 112);
}
#inside {
	margin-top:5%;
	margin-bottom: 4%;
}
@media only screen and (max-width : 500px) {

	#line div{
		display: block;
	}
	.yellow {
		float:center;
	}
	.blue {
		float: center;
	}
}