* { margin:0; padding:0; }   
#main {
	background-color: #52527A;
	height:100vh;
	width:100%;
}
#main p {
	font-family:'Josefin Slab';
	color: white;
}

#main h1 {
	font-family:'Josefin Slab';
	color: white;

	display:inline-block;
}
#cont {
	display: block;
}
#logo {
	height: 10%;
	width: 20%;
	border-color: #FFFFFF;
	border-style:solid;
	border-width:2px;
	border-radius:4px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding: 1%;
}

#center {
	margin-left:auto;
	margin-right:auto;
}
#about {
	display:block;
}
#img {
	margin-left:auto;
	text-align:center;
	margin-right:auto;
}
#wrap {
	padding-top:2%;
}
#pic {
	margin-left:auto;
	margin-right:auto;
	margin: 2%;
}	
#png {
	margin-left:auto;
	margin-right:auto;
}
#about:hover {
}
#line {
}
#line div {
	display:inline-block;
}
#left {
	width:100%;
}
#right {
	width:100%;
}
#link {
	text-align:center;
	width:50%;
}

#center {
	margin-left:auto;
	margin-right:auto;
}
.red {
	background-color:red;
}
.yellow {
	background-color:yellow;
	float:right;
}
.blue {
	background-color:blue;
	float:right;
}
.green {
	background-color:green;
}
#inside {
	margin-top:5%;
	margin-bottom: 4%;
}